@font-face {
    font-family: 'Benton';
    src: url("/fonts/BentonSans-Book.otf") format("truetype");
}

@font-face {
    font-family: 'Benton';
    src: url("/fonts/BentonSans-Book.otf") format("truetype");
}





@font-face {
    font-family: 'C4';
    src: url("/fonts/C4Horseferry-Medium.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'CalvertBrody';
    src: url("/fonts/CalvertBrody-Medium.otf") format("truetype");
}


@font-face {
    font-family: 'sone';
    src: url("/fonts/SamsungOneLatin_700.otf") format("truetype");
}

@font-face {
    font-family: 'tccc';
    src: url("/fonts/TCCC-UnityHeadline-Medium.ttf") format("truetype");
}

