.header {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
    top: 0;
    transition: top 0.5s;

    &.gone {
        top: -100%;
    }

  
    &.c4 { font-family: "C4", sans-serif; }
    &.calvert-brody { font-family: "CalvertBrody", sans-serif; line-height: 1.2; }
    &.samsung-one { font-family: "sone", sans-serif; }
    &.tccc { font-family: "tccc", sans-serif; }
        
        
    &__wrap {
        background-color: rgba(0,0,0,0.3);  
        padding:  50px 15px;
        height: 100%;
        
        @include large {
            padding:  50px 25px;
        }
    }
    
    &__bg {
        width: 100%;
        height: 100%;
        background-color: #3c3c3b;
        background-size: cover;
        background-position: center center;
        position: relative;

    }
    
    &__text {
        color: white;
        font-size: 7vw;
        opacity: 0;
        transition: opacity 1s;
        margin-top: 30px;
        
        @include large {
            margin-top: 10px;
            font-size: 4vw;
        }
        
        strong, 
        b, 
        em, 
        i {
            font-weight: normal;
            border-bottom: 1px solid white;
        }
        
        &--loaded { opacity: 1; }
    }
    
    &__footnote {
        font-family: "Benton", sans-serif;
        color: white;
        position: absolute;
        z-index: 1;
        top: 25px;
        font-size: 12px;
        line-height: 1.35;
        max-width: calc(100% - 30px);

        @include large {
            font-size: 16px;
            left: 25px;
        }
        
        p {   
            display: none;
            opacity: 0;

            &.loaded {
                display: block;
                opacity: 1 
            }
            
        }
    }
    
    // &__logo {
    //     position: absolute;
    //     bottom: 50px;
    //     width: 5vw;
    //     cursor: pointer;
    //     transition: transform 0.5s;
        
    //     &:hover {
    //         transform: scale(1.05);
    //     }
    // }
}